.movieBanner {
    height: 500px;
    position: relative;
    color: white;
    object-fit: contain;
}

.movieBanner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.movieBanner__title {
    position: absolute;
    top: 40px;
    font-size: 6rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Offset-x, offset-y, blur-radius, color */
}


.movieBanner__description {
    position: relative;
    top: 100px;
    width: 60rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 80%;
    height: 80px;
    opacity: 0.6;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.movieBanner--fadeBottom {
    height: 17.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.movieBanner--blackBottom {
    position: absolute;
    height: 500rem;
    background-color: #000;
    position: absolute;
    top: 480px;
    left: 0;
    right: 0;
}

.movieBanner__button {
    position: relative;
    top: 45px;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.8vw; 
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.2);
    width: 100px;
    height: 60px;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.movieBanner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.movieBanner__poster {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: transform 20000ms;
    margin-right: 10px;
}

.movieBanner:hover .movieBanner__poster{
    /* #increasescale */
    transform: scale(1.09);
}

.movieBanner__description2 {
    position: absolute;
    bottom: -68px;
    left: 20px;
    font-size: 30px;
}